.upload-field {
	margin-top:20px;
	height:100px;
	background-color: darken(white, 10%);
	border: 2px dashed darken(white, 30%);
	text-align: center;
	font-weight: 300;

	span {
		font-size: 1.5em;
		display: inline-block;
		vertical-align: middle;
		line-height: 100px;
	}

	&:hover {
		cursor: pointer;
		background-color: darken(white, 15%);
		color: $blue-base;
	}

	input[type="file"] {
		display:none;
	}
}

.block-hider {
	padding: 10px 15px;

	&:hover {
		color: $blue-base;
		background-color: darken(#fff, 10%);
		cursor: pointer;
	}
}

.node-list {
	margin-left:0;
	padding:0;
}

.node-list-item {
	list-style-type: none;
}

hr {
	border: 0;
	margin: 10px 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.media-nodes-view {
	.table tbody tr:hover td, .table tbody tr:hover th {
		color: #555;
	}
}