$hline-color: #a2a2a2;
$background-table-color-hover:#f5f5f5;
$background-table-color:#ffffff;
$background-table-color-odd:#f9f9f9;

.upload-field {
	margin-top:20px;
	height:100px;
	background-color: darken(white, 10%);
	border: 2px dashed darken(white, 30%);
	text-align: center;
	font-weight: 300;

	span {
		font-size: 1.5em;
		display: inline-block;
		vertical-align: middle;
		line-height: 100px;
	}

	&:hover {
		cursor: pointer;
		background-color: darken(white, 15%);
		color: $blue-base;
	}

	input[type="file"] {
		display:none;
	}
}

.block-hider {
	padding: 10px 15px;

	&:hover {
		color: $blue-base;
		background-color: darken(#fff, 10%);
		cursor: pointer;
	}
}

.node-list {
	margin-left:0;
	padding:0;
}

.node-list-item {
	list-style-type: none;
}

hr {
	border: 0;
	margin: 10px 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.media-nodes-view {
	.table tbody tr:hover td, .table tbody tr:hover th {
		color: #555;
	}
}

.divider-with-text {
    text-align: center;
    height: 1px;
    max-height: 1px;
    min-height: 1px;
    background: $hline-color;
    background-image: -webkit-linear-gradient(left, $background-table-color, $hline-color, $background-table-color);
    background-image: -moz-linear-gradient(left, $background-table-color, $hline-color, $background-table-color);
    background-image: -ms-linear-gradient(left, $background-table-color, $hline-color, $background-table-color);
    background-image: -o-linear-gradient(left, $background-table-color, $hline-color, $background-table-color);
}

.divider-text {
    padding: 0 10px;
    position: relative;
    top: -0.5em;
}

.divider-text-normal {
    background-color: $background-table-color;
    top: -0.6em;
}

.table-row:nth-child(odd) {

	.divider-with-text {
		background-image: -webkit-linear-gradient(left, $background-table-color-odd, $hline-color, $background-table-color-odd);
	    background-image: -moz-linear-gradient(left, $background-table-color-odd, $hline-color, $background-table-color-odd);
	    background-image: -ms-linear-gradient(left, $background-table-color-odd, $hline-color, $background-table-color-odd);
	    background-image: -o-linear-gradient(left, $background-table-color-odd, $hline-color, $background-table-color-odd);
	}

	.divider-text-normal {
		background-color: $background-table-color-odd;
	}
}

.table-row:hover {
	.divider-with-text {
		background-image: -webkit-linear-gradient(left, $background-table-color-hover, $hline-color, $background-table-color-hover);
	    background-image: -moz-linear-gradient(left, $background-table-color-hover, $hline-color, $background-table-color-hover);
	    background-image: -ms-linear-gradient(left, $background-table-color-hover, $hline-color, $background-table-color-hover);
	    background-image: -o-linear-gradient(left, $background-table-color-hover, $hline-color, $background-table-color-hover);
	}
	.divider-text-normal {
		background-color: $background-table-color-hover;
	}
}
