.references {

    ul {
        position: relative;
        margin:0;
        list-style: none;
        padding-left: 32px;

        // empty the pseudo elements
        li::before, li::after {
            content: "";
            position: absolute;
            left: -12px;
        }

        // draw the horizontal lines
        li::before {
            border-top: 1px solid darken(#fff, 30%);
            top: 9px;
            width: 8px;
            height: 0;
        }

        // Draw the vertical lines
        li::after {
            border-left: 1px solid darken(#fff, 30%);
            height: 100%;
            width: 0px;
            top: 2px;
        }

        ul > li:last-child::after {
            height: 8px;
        }
    }

    li {
        position: relative;

        span.element {
            display:inline-block;
            padding:3px 5px;
            text-decoration:none;

            &:hover {
                background-color: darken(#fff, 10%);
                cursor: pointer;
                color: lighten($blue-base, 10%)!important;
            }
        }   

        &.reference {
            > span.element span.glyphicon:hover {
                color: darken(orange, 10%);
            }
        }

        .selected {
            background-color: darken(#fff, 14%);
            color: $blue-base;
        }
    }
}