
<template name="UserForms">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4 outer">
			<h1 class="text-center login-title">
				{{formTitle}}
			</h1>
			{{!-- {{Display warnings, info, success on form submit}} --}}
			{{> notifications}}
			<div class="account-wall">
				{{!-- {{We have three form state inside the account wall}} --}}
				{{#if $.Session.equals 'formState' 'login'}}
				{{> Login}}
				{{/if}}
				{{#if $.Session.equals 'formState' 'forgotton-password'}}
				{{> ForgottonPassword}}
				{{/if}}
				{{#if $.Session.equals 'formState' 'sign-up'}}
				{{> SignUp}}
				{{/if}}
			</div>
			{{#if $.Session.equals 'formState' 'login'}}
			<a href="#" class="text-center button-links new-account">Opprett en bruker</a>
			<a href="#" class="text-center button-links" id="forgot-password">Glemt passord?</a>
			{{/if}}
		</div>
	</div>
</template>


<template name="ForgottonPassword">
	<form class="form-password-lookup">
		<input name="email" id="email" type="email" class="form-control" placeholder="Epost" required>
		<button id='submit' class="btn btn-lg btn-primary btn-block" type="submit">Send inn</button>
		<a href="#" type="button" id='cancel' class="btn btn-lg btn-primary btn-block">Avbryt</a>
	</form>
</template>

<template name="Login">
	<form class="form-signin">
		<input name="email" id="email" type="email" class="form-control" placeholder="Epost" required autofocus>
		<input name="password" id="password" type="password" class="form-control" placeholder="Passord" required>
		<button id='submit' class="btn btn-lg btn-primary btn-block" type="submit">Logg inn</button>
	</form>
</template>

<template name="SignUp">
	<form class="form-signup">
		<input name="email" id="email" type="email" class="form-control" placeholder="Epost" required autofocus>
		<input name="password" id="password" type="password" class="form-control" placeholder="Passord" required>
		{{!-- {{Our container for Google Recaptcha. Bots not allowed!!}} --}}
    	<div id="rendered-captcha-container"> </div>
		<button id='submit' class="btn btn-lg btn-primary btn-block" type="submit">Registrer</button>
		<a href="#" type="button" id='cancel' class="btn btn-lg btn-primary btn-block">Avbryt</a>
	</form>
</template>
