<!--
This template should render a view that contains a tree structure and a system
for editing of nodes in the tree
-->
<template name="Document">
  <div class="container">

    {{!-- Header --}}
    <div class="row">
      <div class="col-lg-12">
        <div class="pull-left" style="margin-top:25px;">
          <div class="btn btn-warning back-to-dashboard"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Tilbake til dashbord</div>
        </div>
        <div class="pull-right" style="margin-top:25px;">
          {{> UserProfile}}
        </div>
      </div>
    </div>

    <hr>

    <div class="row">

      {{!-- The tree structure --}}
      <div class="col-lg-4">
          {{#Tree title="Struktur" tree=this}}
          <em>Klikk og dra nodene i trestrukturen der du vil ha dem. Klikker man dobbelt på en av nodene, så åpnes
          det en fane til høyre med den valgte informasjonen. Ved bruk av enkeltklikk på nodene, åpnes bare fanen midlertidig.</em>
          {{/Tree}}
      </div>

      {{!-- The detail view of nodes --}}
      <div class="col-lg-8">
        {{> Tabs}}
        {{#if focusOnMainDoc}}
          {{> GeneralInfo}}
        {{else}}
          {{> NodeDetail}}
        {{/if}}
      </div>

    </div>
  </div>
</template>
