$str-height: 77vh;

// -- Structure View Styles ----------------------------------------------------

.node-detail-view {
	position: relative;
	padding-top: 20px;
	padding-bottom:0;
	margin:0;
	height: 80vh;
	min-height:500px;
	overflow:scroll;
	border: 2px solid darken(#fff, 50%);

	&::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 9px;
	}
	
	&::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.4);
	}

	-webkit-box-shadow: inset 0 50px 60px -50px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 50px 60px -50px rgba(0,0,0,0.2);
	box-shadow: inset 0 50px 60px -50px rgba(0,0,0,0.2);

}

.structure {
	height: $str-height;
    overflow:scroll;
    
    &::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 9px;
	}
	
	&::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.4);
	}
}

.structure-header {
	display:inline-block;
	width: 100%;
	height: 40px;
	background-color: darken(#fff, 5%);
	margin:0;
	border-bottom: 1px solid darken(#fff, 2%);

	h4 {
		margin: 0 10px;
	}

	-webkit-box-shadow: 0px 10px 40px 5px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 10px 40px 5px rgba(0,0,0,0.10);
	box-shadow: 0px 10px 40px 5px rgba(0,0,0,0.10);
}

.structure-footer {
	display:inline-block;
	width: 100%;
	height: auto;
	background-color: darken(#fff, 5%);
	margin:0;
	padding-top: 10px;
	border-top: 1px solid darken(#fff, 2%);

	.nav.nav-pills {
		height:30px;
		
		> li > a {
			height:30px;
			padding: 5px;
			
			background-color: darken(#fff, 10%);

			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;

		}

		> li.active > a{
			color: black;
			background-color: darken(#fff, 30%);

			&:hover {
				cursor: default;
			}
		}
	}
}

.structure-header h4.header-text {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 0;
    width: auto;
}

.dropdown-menu span {
	margin-right: 5px;
}

.menu-button {
    width: 40px;
    margin: 5px;
    height: 30px;
    border: none;
    line-height: auto;
    background-color: darken(#fff, 15%);

    &:hover {
        background-color: darken(#fff, 20%);
    }
}

div.structure-container {
	overflow:hidden;
	height: calc($str-height + 58px);
	position:relative;
	border: 2px solid #777;
	padding: 0;
	margin: 0;
}

.structure-container ul.nav.nav-pills.nav-justified {
	position: absolute;
	bottom: 0;
	margin-top: 0;
	padding-top: 0px;
}

div.structure {
	margin: 0;
	padding: 15px 10px;
    padding-bottom: 0;

	> ul {
		padding: 0;
	}

	&.tags, &.references {
		padding: 20px 20px;
	}
}