<!--
The tree constructor template.
-->
<template name="Tree">
  <h3>{{title}}</h3>
  <p>{{> UI.contentBlock}}</p>

  {{!-- Start of tree / the root node --}}
  <div id="{{id}}" class="tree {{class}}">
  	<ul>
  		<li class="node root" style="margin-top:0;" data-id="{{guid}}">
        <div class="slot slot-top"></div>
         	<span draggable="true" class="element">
            <span class="glyphicon glyphicon-book"></span> {{documentTitle}}
          </span>

          {{!-- Render rest of the visible nodes --}}
          {{#unless tree.collapsed}}
      			{{#each treeItems}}
      				{{> NodeLevel}}
      			{{/each}}
          {{/unless}}
  		</li>

      <div class="slot slot-bottom"></div>

    </ul>
  </div>
</template>
