$dot-color: #304650;
$dot-bg-color: #0096ff;

$waves-transparent-color: rgba(0, 150, 255, .5);
$waves-fully-transparent-color: rgba(0, 150, 255, 0);

.dot {
  border-radius: 50%;
  display: block;
  height: 1em;
  line-height: 1.625em;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 5px;
  width: 1em;
}

.dot:hover {
  text-decoration: none;
}

.dot-bright-blue:focus {
  -webkit-animation: vibrate .1s linear infinite;
  animation: vibrate .1s linear infinite;
  box-shadow: 0 0 0 8px $waves-fully-transparent-color, 0 0 0 16px $waves-transparent-color;
  outline: 0;
}

.dot-bright-blue {
  background-color: $dot-bg-color;
  color: $dot-color;
}

.waves {
  -webkit-animation: waves 1s linear infinite;
  animation: waves 1s linear infinite;
}

@-webkit-keyframes waves {
  from {
    box-shadow: 0 0 $waves-fully-transparent-color, 0 0 0 1px $waves-transparent-color;
  }

  to {
    box-shadow: 0 0 0 8px $waves-fully-transparent-color, 0 0 0 16px $waves-fully-transparent-color;
  }
}

@keyframes waves {
  from {
    box-shadow: 0 0 $waves-fully-transparent-color, 0 0 0 1px $waves-transparent-color;
  }

  to {
    box-shadow: 0 0 0 8px $waves-fully-transparent-color, 0 0 0 16px $waves-fully-transparent-color;
  }
}
