<template name="NodeDetail">
	<h3>Referanse</h3>
	<form role="form">
		{{#with node}}
			<div class="form-group">
				<label for="referenceTitle">Tittel</label>
				<input type="text" class="form-control" id="referenceTitle" value="{{title}}">
			</div>
			<div class="form-group">
				<label for="referenceStatus">Merke</label>
				<input type="text" class="form-control" id="referenceStatus" value="{{status}}">
			</div>
			{{! {{> TagsInput values=keywords placeholder="Nøkkelord" id="referenceKeywords" minChars="2" collection="tags"}}

			<div class="form-group">
				<label for="referenceSummary">Sammendrag</label>
				<textarea class="form-control" id="referenceSummary" rows="3">{{summary}}</textarea>
			</div>

			<div class="form-group">
				<label for="referenceInputFile">Fil</label>
				<input type="file" id="referenceInputFile">
				<p class="help-block">Velg en fil å tilknytte til ressursen.</p>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-lg-6">
						<h5><b>Kilder</b></h5>
						<label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Bøker osv.</label>
						<label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Webside</label>
					</div>

					<div class="col-lg-6">
						<h5><b>Kryssreferanser</b></h5>
					</div>
				</div>
			</div>

			<div class="form-group">
				<button type="button" class="btn btn-danger pull-left delete-reference">Slett</button>
				<button type="submit" class="btn btn-primary pull-right">Lagre</button>
				<button type="button" class="btn btn-default pull-right cancel" style="margin-right:10px;">Avbryt</button>
			</div>
		{{/with}}
	</form>

</template>

<template name="GeneralInfo">
	<h3>Generelt om dokumentet</h3>
	<form role="form">
		<div class="form-group">
			<label for="referenceTitle">Tittel</label>
			<input type="text" class="form-control" id="referenceTitle" value="{{title}}">
		</div>
		<div class="form-group">
			<label for="referenceStatus">Merke</label>
			<input type="text" class="form-control" id="referenceStatus" value="{{status}}">
		</div>
		{{! {{> TagsInput values=keywords placeholder="Nøkkelord" id="referenceKeywords" minChars="2" collection="tags"}}

		<div class="form-group">
			<label for="referenceSummary">Sammendrag</label>
			<textarea class="form-control" id="referenceSummary" rows="3">{{summary}}</textarea>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary pull-right">Lagre</button>
			<button type="button" class="btn btn-default pull-right cancel" style="margin-right:10px;">Avbryt</button>
		</div>
	</form>

</template>