<template name="Index">
	<div class="container">
		<div class="row" style="margin-top:30px;">
			<div class="col-sm-8 col-md-6 col-md-offset-3 outer">
				<div class="jumbotron">
					<h1>GrandView</h1>
					<p class="lead">GrandView er et verktøy for å strukturere store informasjonsmengder. Ta en titt under.</p>
					<p><a class="btn btn-lg btn-success new-account" href="#" role="button">Registrer deg</a></p>
				</div>
			</div>
		</div>
		
		{{!-- Takes care of login, forgotton password and signup --}}
		{{> UserForms}}
	</div>
</template>
