.container-fluid.index {
	height: 100%;

	background:url('/images/front-page.jpg') no-repeat center center;
	background-size: cover;

	h1 {
		font-size: 3em;
	}

	> .row {
		margin-left: 40px;
		margin-top: 100px;
	}
}

div.outer .jumbotron {
	background:#7f7f7f;
  	background:rgba(220,220,220,0.8);

	.lead {
		font-size: 1.3em;
	}
}