<!--
A node in the tree, that recursively renders its children.
-->
<template name="NodeLevel">
	<ul>
		<li class="node" style="margin-top:0;" data-id="{{guid}}">

      {{!-- Drop slot top --}}
      <div class="slot slot-top"></div>

      <span draggable="true" class="element">
        {{#if hasChildren}}
          {{#if collapsed}}
            <span class="glyphicon glyphicon-plus-sign show-node"></span>
          {{else}}
            <span class="glyphicon glyphicon-minus-sign hide-node"></span>
          {{/if}}
        {{/if}}

        {{sectionLabel}} {{title}}
      </span>

      {{!-- Render its children if they are visible --}}
      {{#unless collapsed}}
          {{#if hasChildren}}
              {{#each children}}
                  {{> NodeLevel}}
          	{{/each}}
          {{/if}}
      {{/unless}}
    </li>

    {{!-- Drop slot bottom --}}
    <div class="slot slot-bottom"></div>

    </ul>
</template>
