<template name="Tabs">
	<div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
  	<div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
	
	<div class="tab-wrapper">
		<ul class="nav nav-tabs list">
			<li role="presentation" class="{{#if isMainDocument}}active{{/if}}"><a href="#" class="general-info">Generelt</a></li>
			
			{{#each tabs}}
				<li role="presentation" class="{{#if $.Session.equals 'nodeInFocus' this}}active{{/if}}"><a href="#" class="tab" style="padding-right:30px;padding-left:-30px;">{{this}}</a><span class="glyphicon glyphicon-remove pull-right delete-tab" style="position:relative;right:10px;top:-27px;" aria-hidden="true"></span></li>
			{{/each}}
		</ul>
	</div>
</template>